* {
    font-family: 'Times New Roman', Times, serif;
    line-height: 24px;
}

#main-doc {
    float: right;
    width: 80%;
}

navbar {
    float: left;
    width: 20%;
}

main section.main-section div, main section.main-section div code{
    margin-left: 20px;
}