* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main-doc {
    float: right;
    width: 80%;
}


main section.main-section div, main section.main-section div code{
    margin-left: 25px;
}

main section h2 {
    margin: 20px 0 20px 0;
    padding: 10px;
} 

main section div.para p {
    padding: 10px;
    margin-bottom: 10px;
}

nav {
    position: fixed;
    float: left;
    width: 19%;
    height: 100%;
    border-right: 1px solid #00161666;
}

nav header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 25px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    border-top: 1px solid #00161666;
    border-bottom: 1px solid #00161666;
    padding: 15px;
    cursor: pointer;
}

nav ul li a{
    color: black;
    text-decoration-line: none;
}